numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.4.2
scikit-optimize==0.10.2
scipy==1.13.1
statsmodels==0.14.5
joblib==1.5.2
plotly==5.24.1
openpyxl==3.1.5
nbformat==5.10.4
xgboost==2.1.1
lightgbm==4.5.0
tensorflow==2.21.0
keras==3.15.0
ipykernel==6.29.5
jupyterlab==4.2.5
